<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="fiko_adminurl" frontName="fiko_adminurl">
            <module name="Fiko_AdminUrl" />
        </route>
    </router>
</config>